.grid1 {
  display: grid;
  grid-gap: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  grid-template-columns: repeat(3, [col] 33%);
  grid-template-rows: repeat(4, [row] auto);
  background-color:cyan;
  margin-top: 0vh;
 /* margin-bottom: 1em; */
}
.One1 {
    color: red;
    height: 40vh;
    grid-column: col;
    grid-row: row 1;
    /*background-image: url(images/enterprisebp1.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;*/
  }
  .Two1 {
    padding: 5px;
    grid-column: col;
    grid-row: row 2 / span 2;
    background-color: white;
  }
  .Three1 {
    padding: 5px;
    grid-column: col 2;
    grid-row: row / span 2;
    background-color: white;
  }
  .Four1 {
    color: red;
    height: 40vh;
    grid-column: col 2;
    grid-row: row 3;
    /*background-image: url(images/warpcoil.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;*/
  }
  .falcon_bp {
    width: 100%;
    height: 100%;
  }
  .hyper {
    width: 100%;
    height: 100%
  }
  .Five1 {
    color: red;
    height: 40vh;
    grid-column: col 3;
    grid-row: row 1;
    /*background-image: url(images/enterprisebp2.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
  }
  .Six1 {
    padding: 5px;
    grid-column: col 3;
    grid-row: row 2 / span 2;
    background-color: white;
  }
  
  .navOne1 {
    font-family: Raleway, sans-serif;
    height: 5.5vh;
    grid-column: col;
    grid-row: row 4;
    color: red;
    text-align: center;
    padding: 0px;
    background-color: white;
    font-size: 1.25vh;
    padding-bottom: 0px;
  }
  .link1 {
    color: #00ff00;
  }
  .link2 {
    color: #00ff00;
  }
  .link3 {
    color: #00ff00;
  }
  .navTwo1 {
    font-family: Raleway, sans-serif;
    height: 5.5vh;
    grid-column: col 2;
    grid-row: row 4;
    color: red;
    text-align: center;
    padding: 0px;
    background-color: white;
    font-size: 1.25vh;
    padding-bottom: 0px;
  }
  .navThree1 {
    font-family: Raleway, sans-serif;
    height: 5.5vh;
    grid-column: col 3;
    grid-row: row 4;
    color: red;
    text-align: center;
    padding: 0px;
    background-color: white;
    font-size: 1.25vh;
    padding-bottom: 0px;
  }
  .navOne1:hover {
    color: #00ff00;
    background-color: grey;
  }
  .navTwo1:hover {
    color: #00ff00;
    background-color: grey;
  }
  .navThree1:hover {
    color: #00ff00;
    background-color: grey;
  }